/* versionhallintatesti lmao */

body {
    font-family: Arial, sans-serif;
    background-color: #e9eff1;
    margin: 0;
    padding: 0;
    background-color: #92b0bf;
  }
  
  .top-nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    height: 50px;
    top: 0;
    z-index: 1000;
    padding: 10px;
    border-bottom-left-radius: 10px;
    transition: top 0.3s ease; /* Lisätään CSS-transitio */
  }
  
  
  .top-nav ul {
    
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: 30px;
  }
  /* .top-nav li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  } */
  #search-input {
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 16px; /* esimerkki fontin koosta */
    border: 1px solid #ccc; /* esimerkki reunuksesta */
    border-radius: 4px; /* pyöristetyt reunat */
  }
  
  .top-nav li {
      
    padding: 10px;
  }
  
  .top-nav li {
    position: relative;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 10px;
  }
  
  .notification-item{
    padding: 10px;
    border-bottom: 1px solid #ccc;
  
  }
  
  .notification-item:hover{
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .top-nav li::after {
    content: ''; 
    position: absolute;
    left: 50%; /* Sijoita viiva keskelle elementtiä vaakasuunnassa */
    bottom: 0;
    width: 20%; /* Aseta viivan alkuleveys esimerkiksi 20%: iin */
    height: 2px;
    background-color: #519dc1; /* Muuta viivan väriä */
    transition: width 0.3s ease, opacity 0.3s ease; /* Siirtymäefektit leveyden ja läpinäkyvyyden muuttumiselle */
    transform: translateX(-50%); /* Siirrä viiva takaisin vasemmalle puolelle sen keskittämiseksi */
    opacity: 0; /* Aseta läpinäkyvyys aluksi nollaksi */
    bottom: -5px; /* Säädä tämän arvoa tarvittaessa */
  }
  
  .top-nav li:hover::after {
    width: 90%; /* Muuta leveys 100%: iin hover-tilassa */
    opacity: 1; /* Muuta läpinäkyvyys täyteen hover-tilassa */
  }
  
  
  
  /* estää viivan luonnin search-elementille, vain jumala tietää miksi*/
  
  .top-nav li:first-child::after {
    display: none;
  }
  
  /*kun ollaan sivulla sitä ei näy navissa*/
  .top-nav li.active {
    display: none;
  }
  
  .top-nav a {
    text-decoration: none;
    color: #519dc1;
    font-weight: bold;
  }
  
  .search-nav {
    position: relative; /* Hakutulosten konteksti sijoitetaan tähän suhteessa */
    width: fit-content; /* Säätää leveyden sisällön mukaan */
    margin: auto; /* Keskittää containerin */
  }
  
  
  
  .profile-main-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 1%;
  }
  
  .profile-container {
    flex: 1;
    padding: 20px;
    max-width: 300px;
    margin-top: 50px;
  }
  
  .profile-posts-container {
    flex: 3;
    padding: 20px;
    margin-top: 30px;
    max-width: 800px;
  }
  
  
  
  .profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .profile-header p {
    margin: 5px 0;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  .profile-info h5 {
    margin: 10px 0;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .profile-card h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .profile-card p {
    font-size: 14px;
    color: #666;
  }
  
  #bio {
    height: 200px;
    font-size: 14px;
  }
  
  .editProfileButton {
    background-color: pink;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .editProfileButton:hover {
    background-color: purple;
  }
  
  .addFriendButton {
    background-color: lightgreen;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .addFriendButton:hover {
    background-color: green;
  }
  
  
  .post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px 0;
  }
  
  #post-picture{
    margin-top: 15px;
    max-height: 350px;
    max-width: auto;
    border-radius: 5px;
  }
  
  .post button {
    margin-bottom: 10px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .post-header img {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-right: 10px;
  }
  
  .post-userdata {
    margin-left: 10px;
  }
  
  .post-userdata p {
    color: gray;
  }
  
  .post-buttons img {
    margin-right: 10px;
  }
  
  .post-likes-comments {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  
  .likes-count,
  #comments-count {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .post-likes-comments img {
    max-width: 30px;
    max-height: 30px;
  }
  
  .comment {
    display: flex;
    align-items: start;
  }
  
  #comments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #comments-container input {
    width: 80%;
    height: 25px;
  }
  
  #comments-display img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .comment-datetime {
    color: gray;
    font-size: 0.8em;
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
  
  .post p {
    margin: 0;
  }
  
  .post h2 {
    margin: 2px 0;
  }
  
  .comment h4 {
    margin: 2px 0;
  }
  
  #likes-section {
    margin-top: 10px;
  }
  
  
  .like-button {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .like-button:hover {
    background-color: blue;
  }
  
  .comment-button {
    background-color: lightgreen;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .comment-button:hover {
    background-color: green;
  }
  
  .edit-post-button {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .edit-post-button:hover {
    background-color: gray;
  }
  
  .send-comment-button {
    background-color: lightgreen;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .send-button:hover {
    background-color: green;
  }
  
  /* profiilin muokkaus modali*/
  #editProfileModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content/Box */
  #editProfileModal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: fadeIn;
    animation-duration: 0.4s;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Add Animation to modal */
  @keyframes fadeIn {
    from {
      opacity: 0
    }
  
    to {
      opacity: 1
    }
  }
  
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-content label {
    margin-bottom: 5px;
  }
  
  .modal-content input,
  .modal-content textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    font-size: 14px;
  }
  
  .modal-content h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* kavereiden näkyvyys pudotusvalikon tyylittelyt */
  #friendsVisibility { 
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    appearance: none;
    background-color: #f2f2f2;
    color: #333;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4L2 0zm0 5L0 3h4l-2 2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0; 
    background-size: .65em auto, 100%;
  }
  
  
  
  #saveProfileButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    /* Blue */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #saveProfileButton:hover {
    background-color: #007B9A;
    /* Darker blue */
  }
  
  /* The Close Button */
  .close {
  
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  #user-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative; /* Tämä mahdollistaa lasten absoluuttisen sijoittelun suhteessa tähän elementtiin */
    height: 20px;
  
  }
  
  #search-input {
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 16px; /* esimerkki fontin koosta */
    border: 1px solid #ccc; /* esimerkki reunuksesta */
    border-radius: 4px; /* pyöristetyt reunat */
  }
  
  /* Hakutulosten yleinen tyyli */
  #user-search-results {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 300px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
    width: 250px; /* Tässä asetetaan leveys, voi säätää tarpeen mukaan */
  }
  
  /* Yksittäisen hakutuloksen tyyli */
  .user-search-item {
    display: flex;
    align-items: center; /* Asetetaan elementit linjaan keskenään */
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  #user-search-results div {
    padding: 8px 16px; /* Tilaa ympärille */
    border-bottom: 1px solid #ccc; /* Erotin viivat */
    cursor: pointer; /* Kursori vihjeenä klikkauksesta */
  }
  
  #user-search-results div:last-child {
    border-bottom: none; /* Viimeiselle ei alaviivaa */
  }
  /* Profiilikuvan tyyli */
  .profile-picture {
    width: 30px; /* Säädä kuvan kokoa tarpeen mukaan */
    height: 30px; /* Säädä kuvan kokoa tarpeen mukaan */
    border-radius: 50%; /* Pyöristetty kuva */
    margin-right: 10px; /* Tyhjä tila kuvan ja tekstin välillä */
  }
  
  /* edit post modal paskaa */
  .edit-post-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .edit-post-modal-content {
   
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: fadeIn;
    animation-duration: 0.4s;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .edit-post-modal-content h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #post-content-textarea {
   
    width: 100%;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #deletePostButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 96, 96);
    /* Blue */
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #deletePostButton:hover {
    background-color: darkred;
    /* Darker blue */
  }
  
  #editPostSaveButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #editPostSaveButton:hover {
    background-color: #007B9A;
  }
  
  .delete-save-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  /* Kaverit modal */
  .friends-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .friends-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: fadeIn;
    animation-duration: 0.4s;
    max-height: 80vh;
    position: fixed;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .friends-modal-content h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .friend {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .friend-profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .friend-profile-pic:hover {
    cursor: pointer;
  }
  
  .friend-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .friend-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .friend-profile-name:hover {
    cursor: pointer;
  }
  
  /* hover efekti kaverikortille */
  .friendsCount:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  /* Profiilikuva modal */
  .profile-pic-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  /* Modalin sisältö */
  .profilepic-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #profilePic-modal-content img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
  }
  
  /* Hover efekti kuville */
  .profile-pic:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
  }
  
  /* Postauksen modali */
  .image-pic-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  /* Modalin sisältö */
  .content-image-pic-modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #modal-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
  }
  
  .logo-link {
    position: fixed; /* Kiinnitetään sivun reunaan */
    top: 10px; /* Etäisyys yläreunasta */
    left: 10px; /* Etäisyys vasemmasta reunasta */
  }
  
  .logo-image {
    width: 250px; /* Säädä logon kokoa tarpeen mukaan */
    height: auto; /* Säilyttää kuvan alkuperäisen kuvasuhteen */
  }
  
  
  @media (max-width: 1700px){
    .logo-link{
      position: absolute;
    }
    .profile-container {
      padding-top: 132px;
    }
  
    .profile-card,
    .posts-container {
      width: 90%;
    }
  
  }
  
  .notification-li:hover {
    cursor: pointer;
  }